@import "./normalize.css";

* {
  padding: 0;
  margin: 0;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  min-width: 1300px;
}

body {
  margin: 0px;
  background-color: #f5f5f5;
  --actived: #04429a;
  --molandy:#6667aa;
  --white: #ffffff;
  --deactived: #999;
  user-select: none;
}

a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: var(--grey);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-shadow: 0 0 1px rgb(255 255 255 30%);
}

input,
textarea {
  outline-style: none;
  padding: 6px;
}

span,
label {
  cursor: pointer;
}